server {
    listen 80;
    server_name {{ site_name }} www.{{ site_name }};
 
    set $root_path '/var/www/{{ site_name }}/www';
    root $root_path;
    index index.html;
 
    location / {
        try_files $uri $uri/ $uri.html $uri.php$is_args$query_string;
    }
 
    error_page 500 502 503 504 /50x.html;
    error_page 404 /404.php;
    
    location = /50x.html {root /usr/share/nginx/html;}
    #location = /404.php  {root $root_path;}
       
    error_log  /var/www/{{ site_name }}/log/nginx-error.log error;
}


server {
    server_name {{ site_name }} www.{{ site_name }};

    access_log  /var/www/{{ site_name }}/log/nginx_access.log main;
    error_log   /var/www/{{ site_name }}/log/nginx_error.log;
    root    /var/www/{{ site_name }}www;

    client_max_body_size    20M;
    gzip            on;
    gzip_comp_level     1;
    gzip_disable        "msie6";
    gzip_types          text/plain text/css text/javascript application/javascript application/x-javascript;
    gzip_vary           on;
    keepalive_timeout       6;
    server_tokens       off;

    location / {
        try_files  $uri $uri/ /index.php;
        index      index.php index.html index.htm;

    error_page 500 502 503 504 /50x.html;
    error_page 404 /404.php;

        location ~ \.php$ {
            try_files               $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            include                 /etc/nginx/fastcgi_params;
            fastcgi_pass            unix:/run/php-fpm/www.sock;
            fastcgi_index           index.php;
            fastcgi_param SCRIPT_FILENAME /var/www/{{ site_name }}/www$fastcgi_script_name;
        }

        location ~* \.(css|gif|ico|jpg|jpeg|js|pdf|png)$ {
        expires     2M;
        access_log  off;
        }
    }
}